.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    background-color: rgb(51, 192, 166);
    width: 30em;
    height: 30em;
    position: absolute;
    border-radius: 4px;
    /*box-shadow: 0 0.188em 1.550em rgb(58, 170, 170);*/   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title {
    font-size: 30px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

input {
    border: none;
    background-color: rgb(255, 255, 255);
    height: 2em;
    width: 80%;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;
    font-size: large;
    font-weight: 600;
}

input:focus {
    outline-color: rgb(51, 192, 166);
}

button {
    width: 40%;
    height: 3em;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 8px;
    cursor: pointer;
    font-size: large;
    font-weight: 600;
}

button:hover {
    transform: scale(1.05);
}