#screen{
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 55px;
    height: 12px;
    border: 1px solid gray;
}
#root{
    width: 1024;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 12px;
}

.seat{
    width: 24px;
    height: 24px;
    border: 1px solid gray;
    border-radius: 3px;
    flex: wrap;
}
.seat:hover{
    background-color: yellow;
}
.booked{
    background-color: rgb(241, 125, 125);
}
.selected{
    background-color: rgb(118, 255, 91);
}
.book-button{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}